<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Pai Pai POS">
 <test name="Test">
     <classes>
		     <class name="com.it.digitech.tests.LoginTest"/>
		  	 <class name="com.it.digitech.tests.PurchaseReturnTest"/>
		   	 <class name="com.it.digitech.tests.PurchaseGrnCorpListTest"/>
     </classes>
 </test>
</suite>

 	<!-- -->